<h4><%= score.course %></h4>
<p>Date: <%= score.date %></p>
<p>Tees: <%= score.tees %></p>
<p>Slope: <%= score.slope %></p>
<p>Rating: <%= score.rating %></p>
<p>Score: <strong><%= score.score %></strong></p>
